<h1>MY LIST</h1>
<table>
<% @purchases.each do |purchase| %>
  <tr>
    <% s=Song.find(purchase.song_id) %>
    <td><%= s.name %></td>
     <% u=User.find(purchase.user_id) %>
    <td><%= u.name %></td>
    <td><%= purchase.price_paid %></td>
  </tr>
<% end %>
</table>