$main-color: #03507B;

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: verdana;
  font-size: 12px;
  width: 1200px;
}

#container { 
  margin: 5px 0 0 100px; 
}

#header {
  background-color: $main-color;
  border-radius: 5px;
  
  padding: 4px 100px;
  border-bottom: solid 5px darken($main-color,80%);
  a {color: #FFF;}

  .user_header {
    color: white;
    font-size: 11px;
  }

  h1 {
  font-size: 30px;
  }
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
}

.nav {
  background: rgba(3,80,123,.2);
  padding: 5px 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;


  ul li {
  display: inline-block;
  color: #FFF;
}
}


.songs {
  border: solid 1px #777;
  margin: 20px 0;
  padding: 7px 12px;
  border-radius: 10px;

  h2 { 
  margin: 0; 
  }

  td {padding-right: 10px;}
  th {padding-right: 130px;}
}

.player {
    display: block;
    position: absolute;
    -webkit-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    -moz-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    -o-box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    box-shadow: 0 -1px 0 rgba(20, 30, 40, .75);
    border-top: 1px solid #C2CBD4;
    border-bottom: 1px solid #283541;
    background: #939EAA;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(174, 185, 196, .9)), to(rgba(110, 124, 140, .9)), color-stop(.5, rgba(152, 164, 176, .9)),color-stop(.501, rgba(132, 145, 159, .9)));
    background: -moz-linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    background: linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    cursor: default;
}
